# User configuration files for Visual Studio Solutions #
########################################################
*.suo

# Test results #
################
TestResults/

# RPA references #
##################
ref/

# bin and obj folders #
#######################
bin/
obj/